/* GENERAL */
* {
    box-sizing: border-box;
}
html {
    /* CONSTANTS */
    --accent: #007AFF;
    --secondary: #8A8A8E;
    --navbar_height: 100px;
    --nav_button_height: 60px;
    --nav_buttons_count: 5;
    --content_width: 800px;
    --wide_content_width: 1200px;
    --animation_duration: 0.35s;
    
    scroll-behavior: smooth;
    text-align: center;
}
body, html {
    background-color: black; /* Safari browser background */
}
p, h1, h2, h3, h4, a, button, body {
    margin: 0px;
    padding: 0px;
}

/* FONTS */
p {
    font-family: Raleway;
    line-height: 1.75rem;
}
h1, h2, h3, h4, a, button, .light {
    font-family: Raleway;
}
.light {
    font-weight: lighter;
}
.secondary {
    color: var(--secondary);
}

/* IMAGES */
.invert {
    filter: invert(1); /* Convert black symbols to white */
}
.social_logo {
    width: 20px;
    height: 20px;
}
.symbol {
    width: 30px;
    height: 30px;
}

/* BUTTONS */
button, a {
    /* Remove default browser appearance */
    font-size: 1rem;
    border: none;
    background: none;
    text-decoration: none;
    color: var(--accent);
}
@media (hover: hover) {
    button:hover, a:hover {
        opacity: 0.8; /* Slightly see-through on hover */
    }
}
.large_button {
    font-size: 1.2rem;
    padding: 10px 20px; /* Vertical Horizontal */
    border-radius: 100px; /* A large number to give capsule corners */
    display: flex;
    gap: 15px;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    background-color: black;
    color: white;
}

/* BACKGROUND IMAGES */
#intro, #acting {
    background-color: rgba(0, 0, 0, 0.6); /* Darken background images slightly */
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#intro {
    background-image: url(images/general/summer_ball1.jpg);
}
#acting {
    background-image: url(images/general/summer_ball4.jpg);
}
#feature {
    background-image: url(images/shows/bald_prima_donna.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    height: calc(min(500px, 100vw));
}

/* CONTENT */
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-margin-top: var(--navbar_height);
    background-color: white;
    padding: 100px 0px;
}
.section_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.regular_section {
    max-width: var(--content_width);
}
.wide_section {
    max-width: var(--wide_content_width);
}
.content_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.content_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.content_item {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* NAVIGATION */
#nav {
    background-color: black;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--navbar_height);
    z-index: 2;
}
#navbar {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--navbar_height);
    background-color: black;
}
#nav_links {
    position: absolute;
    background-color: black;
}
#nav_logo {
    height: 75px;
}
.nav_button {
    color: white;
    padding: 0 20px;
    height: var(--nav_button_height);
    line-height: var(--nav_button_height);
}
@media (min-width: 800px) {
    #nav_links {
        z-index: 2;
        flex-direction: row;
        top: calc((var(--navbar_height) - var(--nav_button_height))/2);
    }
    #nav_menu {
        display: none;
    }
}
@media (max-width: 800px) {
    #nav_links {
        z-index: 0;
        width: 100%;
        flex-direction: column;
        top: calc(var(--navbar_height) - var(--nav_buttons_count) * var(--nav_button_height));
    }
    #nav_links.selected {
        top: var(--navbar_height);
    }
    #nav_menu {
        display: block;
    }
    #footer_text {
        flex-basis: 100%;
    }
    .footer_logo {
        order: 1;
    }
}
.transition {
    transition: all var(--animation_duration);
}

/* PLAYER */
#intro {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    max-height: 100vh;
    padding-top: var(--navbar_height);
    display: flex;
    justify-content: center;
    align-items: center;
}
#player {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: block;
    transition: opacity 1s;
    opacity: 0;
}
#player_cover {
    position: absolute;
    top: var(--navbar_height);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 1s;
}
#dramsoc {
    position: absolute;
}
#dramsoc_logo {
    width: min(30vh, 30vw);
    height: min(30vh, 30vw);
    margin-bottom: 20px;
}
#dramsoc_title {
    font-size: 1.75rem;
}
#down_button {
    position: absolute;
    bottom: 0px;
}
/* Hide down button when users can already see the rest of the page */
@media (max-aspect-ratio: 16/10) {
    #down_button {
        opacity: 0;
    }
}
#down_button_img {
    margin: 50px;
    margin-bottom: 0;
    width: calc(20px + 3vh);
    height: calc(20px + 3vh);
}

/* ABOUT */
#social_row {
    gap: 20px;
}

/* SHOWS */
#past_shows {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
}
.show {
    background-color: white;
    box-shadow: 0px 5px 10px #bbbbbb;
    max-width: 500px;
    flex: 1 1 400px;
    border-radius: 15px;
    overflow: hidden;
}
.show_img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.show_title {
    margin: 15px 10px;
}

/* COMMITTEE */
.headshot {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

/* FOOTER */
#footer {
    background-color: black;
    color: white;
}
#footer_text {
    flex: 5;
}
.footer_logo {
    flex: 1;
}
#footer_row {
    width: 100%;
    gap: 20px;
}
#imperial_logo {
    height: 40px;
}
#union_logo {
    height: 50px;
}
#comus_logo {
    height: 50px;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    .section {
        color: white;
        background-color: black;
    }
    .show {
        color: white;
        background-color: #222222;
        box-shadow: none
    }
    #past_shows {
        background-color: black;
    }
    .invert_dark {
        filter: invert(1);
    }
}