/* SETUP */
* {
    box-sizing: border-box;
}
html {
    /* CONSTANTS */
    --accent: black;
    --secondary: #8A8A8E;
    --navbar_height: 60px;
    --content_width: 800px;
    --wide_content_width: 1200px;
    --animation_duration: 0.35s;
    
    scroll-behavior: smooth;
    text-align: center;

    /* Stops weird font size resizing on mobile */
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
body, html {
    background-color: var(--accent); /* Safari browser background */
}
p, h1, h2, h3, h4, a, button, body {
    margin: 0px;
    padding: 0px;
}

/* FONTS */
p {
    font-family: Raleway;
    font-size: 1.05rem;
    line-height: 1.75rem;
}
h1, h2, h3, h4, a, button, .light {
    text-transform: uppercase;
    font-family: Raleway;
}
.light {
    font-weight: lighter;
}
.secondary {
    color: var(--secondary);
}

/* IMAGES */
.social_logo, .invert, .symbol {
    filter: invert(1); /* Convert black symbols to white */
}
.social_logo {
    width: 20px;
    height: 20px;
}
.symbol {
    width: 30px;
    height: 30px;
}

/* BUTTONS */
button, a {
    /* Remove default browser appearance */
    font-size: 1rem;
    border: none;
    background: none;
    text-decoration: none;
    color: white;
}
@media (hover: hover) {
    button:hover, a:hover {
        opacity: 0.8; /* Slightly see-through on hover */
    }
}
.large_button {
    font-size: 1.2rem;
    padding: 10px 20px; /* Vertical Horizontal */
    border-radius: 100px; /* A large number to give capsule corners */
    background-color: var(--accent);
    display: flex;
    gap: 15px;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
}

/* BACKGROUND IMAGES */
#contact, #shows, #intro {
    background-color: rgba(0, 0, 0, 0.5); /* Darken background images slightly */
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#contact {
    background-image: url(images/banners/contact.jpeg);
}
#shows {
    background-image: url(images/shows/revue_2017_step_into_the_bad_side.jpeg);
}
#intro {
    background-image: url(images/shows/revue_2016_wild_wild_party.jpeg);
}
#feature {
    background-image: url("images/shows/revue_2023_where_i_want_to_be.jpeg");
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    height: calc(min(500px, 100vw));
}

/* CONTENT */
/* A padded piece of content */
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-margin-top: var(--navbar_height); /* Ensures does not scroll behind navbar */
    background-color: white;
}
/* The content of a section */
.section_content {
    max-width: var(--content_width);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: calc(env(safe-area-inset-left) + 20px);
    padding-right: calc(env(safe-area-inset-right) + 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.wide_content {
    max-width: var(--wide_content_width);
}
.short_section {
    padding: 50px 20px;
    width: 100%;
}
/* A grid of content */
.content_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
/* A row of content */
.content_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* A piece content eg. a show/committee member */
.content_item {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* FOOTER */
#footer_text {
    flex: 5;
}
.footer_logo {
    flex: 1;
}
#footer_row {
    width: 100%;
    gap: 20px;
}
#imperial_logo {
    height: 40px;
}
#union_logo {
    height: 50px;
}

/* NAVIGATION */
#nav {
    background-color: var(--accent);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--navbar_height);
    z-index: 1;
}
#nav_bar {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--navbar_height);
    background-color: var(--accent);
}
#nav_links {
    position: absolute;
    background-color: var(--accent);
}
.nav_button {
    padding: 0 20px;
    height: var(--navbar_height);
    line-height: var(--navbar_height);
}
/* Wide nav bar */
@media (min-width: 900px) {
    #nav_links {
        z-index: 1;
        flex-direction: row;
        top: 0px;
    }
    #nav_menu {
        display: none;
    }
}
/* Compact nav bar */
@media (max-width: 900px) {
    #nav_links {
        z-index: 0;
        width: 100%;
        flex-direction: column;
        top: calc(-4 * var(--navbar_height));
    }
    #nav_links.selected {
        top: 60px;
    }
    #nav_menu {
        display: block;
    }
    #footer_text {
        flex-basis: 100%;
    }
    .footer_logo {
        order: 1;
    }
}
.transition {
    transition: all var(--animation_duration);
}

/* PLAYER */
#intro {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    max-height: 100vh;
    padding-top: var(--navbar_height);
    display: flex;
    justify-content: center;
    align-items: center;
}
#player {
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: block;
    transition: opacity 1s;
    opacity: 0;
}
#player_cover {
    position: absolute;
    top: var(--navbar_height);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 1s;
}
#mtsoc_logo {
    position: absolute;
    transition: opacity 1s;
    width: min(50vh, 50vw);
    height: min(50vh, 50vw);
}
#down_button {
    position: absolute;
    bottom: 0px;
}
/* Hide down button when users can already see the rest of the page */
@media (max-aspect-ratio: 16/10) {
    #down_button {
        opacity: 0;
    }
}
#down_button_img {
    margin: 50px;
    margin-bottom: 0;
    width: calc(20px + 3vh);
    height: calc(20px + 3vh);
}

/* ABOUT */
#social_row {
    gap: 20px;
}

/* SHOWS */
#past_shows {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
}
.show {
    background-color: white;
    box-shadow: 0px 5px 10px #bbbbbb;
    max-width: 500px;
    flex: 1 1 400px;
    border-radius: 15px;
    overflow: hidden;
}
.show_img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.show_title {
    margin: 15px 10px;
}

/* COMMITTEE */
.headshot {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    .section {
        color: white;
        background-color: black;
    }
    .show {
        color: white;
        background-color: #222222;
        box-shadow: none
    }
    #past_shows {
        background-color: black;
    }
    .invert_dark {
        filter: invert(1);
    }
}